<div class="col-md-12">
    <div class="row box">
      <div class="box-inner col-md-6 col-md-offset-3">
        <h1 class="title">Work & Travel</h1>
        <p class="slogan">Opportunies to Intern, Work and Volunteer in selected countries all over the globe
          <br>
          Get your working holiday visa
          <br>
          See the world in a meaningful way
        </p>
        <p class="lead">
          <%= link_to '马上申请', jobs_path, class: 'btn btn-danger' %>
        </p>
      </div>
    </div>
  </div>

     <div class="content-section-a">
       <div class="container">
         <div class="row">
           <div class="col-lg-5 col-sm-6">
             <hr class="section-heading-spacer">
             <div class="clearfix"></div>
             <h2 class="section-heading">6-15个月 融入生活体验</h2>
             <p class="lead">用自己的劳动换取食宿</p>
           </div>
           <div class="col-lg-5 col-lg-offset-2 col-sm-6">
             <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
           </div>
         </div>
       </div>
     </div>

     <div class="content-section-b">
       <div class="container">
         <div class="row">
           <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
             <hr class="section-heading-spacer">
             <div class="clearfix"></div>
             <h2 class="section-heading">Gap Year社会新人成长训练</h2>
             <p class="lead">给自己一个接触社会 拓展视野 独立成长的机会</p>
           </div>
           <div class="col-lg-5 col-sm-pull-6  col-sm-6">
             <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
           </div>
         </div>
       </div>
     </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">各国伙伴一同传播志愿服务精神</h2>
          <p class="lead">和多个国际志愿者组织合作，实践社会创新
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class = "img-thumbnail">
            <div class="caption">
              <h3>北京朝阳建外SOHO</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="bid" class = "img-thumbnail">
            <div class="caption">
              <h3>info@worktravel.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="heart" class = "img-thumbnail">
            <div class="caption">
              <h3>010-12344321</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
