 <footer class="text-center">
   <hr>
    <div class="footer-below">
        <p class="text-center">Copyright ©2017 Work & Travel
            <br>Design by Ellenyu
        </p>
    </div>
  </footer>
